<widget name="hottest_articles">
    <div class="tc-box">
        
        <div class="ranking">

            <div style="background-color: #ffffff;padding:0 20px 20px 20px;"> 
                <div class="headtitle"><h4>BeiJing Giamor</h4></div> 
                <ul class="article_menu"> 
                    <li class="checked"><span class="glyphicon glyphicon-stop"></span>
                        <a href="{{site.baseurl}}/en/about/company">BeiJing Giamor</a>
                    </li>
                    <li class="checked"><span class="glyphicon glyphicon-stop"></span>
                        <a href="{{site.baseurl}}/en/about/hexinjishu">core technology</a>
                    </li>
                    <li class="checked"><span class="glyphicon glyphicon-stop"></span>
                        <a href="{{site.baseurl}}/en/about/lianxi">link</a>
                    </li>
                </ul> 
            </div>


            
        </div>
    </div>
</widget>