<div style="background:url(/assets/images/bj.jpg) repeat center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="padding: 8px 0 0px 8px;">
                <!-- <img src="{{site.imgurl}}/assets/images/en_logo.png" style="margin-top: 10px;"  /> -->
            </div>
            <div class="col-lg-4 col-md-4 hidden-xs hidden-sm"
                style="display: flex; justify-content: flex-end;line-height: 25px; padding-top: 20px;">
                <a href="/">
                    <div class="icon-flag icon-flag-china">CN</div>
                </a>
                <a href="/en/">
                    <div class="icon-flag icon-flag-en" style="margin:0 30px 0 20px;">EN</div>
                </a>

            </div>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/en/"><img
                        src="{{site.imgurl}}/assets/images/en_logo.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="main-menu">
                    <!-- <li ><div style="width:40px; border-bottom-right-radius: 50px; background-color: #fff;line-height: 50px;">&nbsp;&nbsp;</div></li>
                  <li style="width:10px;border-top-left-radius: 10px;">&nbsp;&nbsp;</li> -->
                    <li><a href="{{site.baseurl}}/en/">Home </a></li>
                    <li class="dropdown product">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product<span class="caret"
                                style="margin-left: 10px;"></span></a>

                        <ul class="dropdown-menu" role="menu"
                            style="min-width: 900px; padding: 20px; border-radius: 2%;left: -260px;">
                            <li>
                                <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 18px;"></span>
                                    FunctionalTextile</h3>
                                <div>
                                    <a href="{{site.baseurl}}/en/product/1.html#gaishu"><span
                                            class="glyphicon glyphicon-play-circle"></span> Generality</a>
                                    <a href="{{site.baseurl}}/en/product/1.html#gongneng"><span
                                            class="glyphicon glyphicon-play-circle"></span> FUNCTIONAL FABRIC</a>
                                    <a href="{{site.baseurl}}/en/product/1.html#junyong"><span
                                            class="glyphicon glyphicon-play-circle"></span> Military special
                                        textiles</a>
                                    <a href="{{site.baseurl}}/en/product/1.html#xiaofang"><span
                                            class="glyphicon glyphicon-play-circle"></span> Textile in the field of fire
                                        protection</a>
                                    <a href="{{site.baseurl}}/en/product/1.html#huwai"><span
                                            class="glyphicon glyphicon-play-circle"></span> Outdoor Fabric </a>
                                </div>
                            </li>
                            <li>
                                <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 18px;"></span>
                                    Filterate</h3>
                                <div>
                                    <a href="{{site.baseurl}}/en/product/2.html#gaishu"><span
                                            class="glyphicon glyphicon-play-circle"></span> Generality</a>
                                    <a href="{{site.baseurl}}/en/product/2.html#gongye"><span
                                            class="glyphicon glyphicon-play-circle"></span> Industrial filter bag dust
                                        removal</a>
                                    <a href="{{site.baseurl}}/en/product/2.html#hepa"><span
                                            class="glyphicon glyphicon-play-circle"></span> Efficient HEPA </a>
                                    <a href="{{site.baseurl}}/en/product/2.html#ulpa"><span
                                            class="glyphicon glyphicon-play-circle"></span> Membrane clean window type
                                        fresh air</a>
                                </div>
                            </li>
                            <li>
                                <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 18px;"></span>
                                    HydrogenNewEnergy</h3>
                                <div>
                                    <a href="{{site.baseurl}}/en/product/3.html#gaishu"><span
                                            class="glyphicon glyphicon-play-circle"></span> Generality</a>
                                    <a href="{{site.baseurl}}/en/product/3.html#zhiqing"><span
                                            class="glyphicon glyphicon-play-circle"></span> water electrolysis</a>
                                    <a href="{{site.baseurl}}/en/product/3.html#dianchi"><span
                                            class="glyphicon glyphicon-play-circle"></span> Hydrogen fuel cells for new
                                        energy vehicles</a>
                                    <a href="{{site.baseurl}}/en/product/3.html#chuneng"><span
                                            class="glyphicon glyphicon-play-circle"></span> Vanadium flow battery energy
                                        storage system</a>
                                </div>
                            </li>
                            <li>
                                <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 18px;"></span>
                                    Biomedicine</h3>
                                <div>
                                    <a href="{{site.baseurl}}/en/product/4.html#gaishu"><span
                                            class="glyphicon glyphicon-play-circle"></span> Generality</a>
                                    <a href="{{site.baseurl}}/en/product/4.html#guolv"><span
                                            class="glyphicon glyphicon-play-circle"></span> BioMedem ® Biomedical Filter
                                        Membrane</a>
                                    <a href="{{site.baseurl}}/en/product/4.html#fanghu"><span
                                            class="glyphicon glyphicon-play-circle"></span> New ePTFE Medical Protective
                                        Material</a>
                                    <a href="{{site.baseurl}}/en/product/4.html#qiguan"><span
                                            class="glyphicon glyphicon-play-circle"></span> Artificial organ
                                    </a>
                            </li>
                            <li>
                                <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 18px;"></span> 5G
                                    electronic chip</h3>
                                <div>
                                    <a href="{{site.baseurl}}/en/product/5.html#gaishu"><span
                                            class="glyphicon glyphicon-play-circle"></span> Generality</a>
                                    <a href="{{site.baseurl}}/en/product/5.html#guolv"><span
                                            class="glyphicon glyphicon-play-circle"></span>5G Innovation </a>
                                    <a href="{{site.baseurl}}/en/product/5.html#fanghu"><span
                                            class="glyphicon glyphicon-play-circle"></span> Electronic and
                                        Electrical</a>
                                    <a href="{{site.baseurl}}/en/product/5.html#qiguan"><span
                                            class="glyphicon glyphicon-play-circle"></span> Semiconductor Chip</a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utillze<span class="caret"
                                style="margin-left: 10px;"></span></a>

                        <ul class="dropdown-menu" role="menu"
                            style="min-width: 200px; padding: 20px; border-radius: 2%;left: -260px;">
                            <li><a href="{{site.baseurl}}/en/product/1.html#gongneng">AEROSPACE</a></li>
                            <li><a href="{{site.baseurl}}/en/product/1.html#gaishu">Clothing fabrics</a></li>
                            <li><a href="{{site.baseurl}}/en/product/3.html#dianchi">hydrogen energy</a></li>
                            <li><a href="{{site.baseurl}}/en/product/3.html#zhiqing">chemistry</a></li>
                            <li><a href="{{site.baseurl}}/en/product/4.html#gaishu">environmental protection</a></li>
                            <li><a href="{{site.baseurl}}/en/product/1.html#xiaofang">Fire and Public Safety</a></li>
                            <li><a href="{{site.baseurl}}/en/product/4.html#guolv">life sciences</a></li>
                            <li><a href="{{site.baseurl}}/en/product/5.html#guolv">5G Innovation</a></li>
                            <li><a href="{{site.baseurl}}/en/product/5.html#qiguan">Semiconductor Chip</a></li>
                        </ul>
                    </li>


                    <li class="zoujinjiamo"><a href="{{site.baseurl}}/en/about/company.html">Giamor</a></li>
                    <li style="width: 200px;">&nbsp;</li>

                    <!-- <li style="width:10px;border-top-right-radius: 10px;">&nbsp;&nbsp;</li>
                  <li ><div style="width:40px; border-bottom-left-radius: 50px; background-color: #fff;line-height: 50px;">&nbsp;&nbsp;</div></li> -->
                    <!-- <li class="{$hezuoshenqing}"><a href="{{site.baseurl}}/about/jiameng.html" >代理申请</a></li> -->
                </ul>



            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
{% include link.html %}