<div style="background-color: black; color: #fff; line-height: 50px;">
    <div class="container footer-info">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li style="padding-bottom: 30px;">
                        <a href="/"><img src="{{site.imgurl}}/assets/images/logo-1.png"  /></a>
                    </li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;&nbsp;010-67722766</li>
                    <li><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;&nbsp;400-850-5815</li>
                    <li><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;postmaster@giamor-tech.com</li>
                <ul>
                
                
                
            </div>
            <div class="col-md-3" style="border-left: #f5f5f5 1px solid;padding-left: 80px;">
                <ul>
                    <li class="title">佳膜产品</li>
                    <li>
                            <a href="{{site.baseurl}}/product/1.html#gongneng"><span  class="glyphicon glyphicon-play-circle"></span> 功能性面料</a><br>  
                            <a href="{{site.baseurl}}/product/1.html#junyong"><span  class="glyphicon glyphicon-play-circle"></span> 军用特种纺织</a>  <br>
                            <a href="{{site.baseurl}}/product/1.html#xiaofang"><span  class="glyphicon glyphicon-play-circle"></span> 消防领域纺织</a>  <br>
                            <a href="{{site.baseurl}}/product/1.html#huwai"><span  class="glyphicon glyphicon-play-circle"></span> 户外面料</a><br>
                    </li>
                    <li>
                            <a href="{{site.baseurl}}/product/2.html#hepa"><span  class="glyphicon glyphicon-play-circle"></span> 高效HEPA</a>  <br>
                            <a href="{{site.baseurl}}/product/2.html#ulpa"><span  class="glyphicon glyphicon-play-circle"></span> 膜净窗式新风</a>  <br>
                    </li>
                    <li>
                            <a href="{{site.baseurl}}/product/3.html#zhiqing"><span  class="glyphicon glyphicon-play-circle"></span> 电解水制氢</a>  <br>
                            <a href="{{site.baseurl}}/product/3.html#dianchi"><span  class="glyphicon glyphicon-play-circle"></span> 新能源汽车氢燃料电池</a><br>  
                            <a href="{{site.baseurl}}/product/3.html#chuneng"><span  class="glyphicon glyphicon-play-circle"></span> 全钒液流电池储能系统</a><br>
                    </li>
                    <li>
                            <a href="{{site.baseurl}}/product/4.html#guolv"><span  class="glyphicon glyphicon-play-circle"></span> 生物过滤</a>  <br>
                            <a href="{{site.baseurl}}/product/4.html#fanghu"><span  class="glyphicon glyphicon-play-circle"></span> 医疗防护</a> <br> 
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="title">应用领域</li>
                    <li><a href="{{site.baseurl}}/product/1.html#gongneng">航空航天</a></li>
                    <li><a href="{{site.baseurl}}/product/1.html#gaishu">服装面料</a></li>
                    <li><a href="{{site.baseurl}}/product/3.html#dianchi">氢能源</a></li>
                    <li><a href="{{site.baseurl}}/product/3.html#zhiqing">化学</a></li>
                    <li><a href="{{site.baseurl}}/product/4.html#gaishu">环境保护</a></li>
                    <li><a href="{{site.baseurl}}/product/1.html#xiaofang">消防与公共安全</a></li>
                    <li><a href="{{site.baseurl}}/product/4.html#guolv">生命科学</a></li>
                    <li><a href="{{site.baseurl}}/product/2.html#gaishu">石油与天然气</a></li>
                    <li><a href="{{site.baseurl}}/">半导体与芯片</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="title">走进佳膜</li>
                    <li>
                        <a href="{{site.baseurl}}/about/hexinjishu.html" >核心技术</a>
                        
                    </li>
                    
                    <li><a href="{{site.baseurl}}/about/company.html">走进佳膜</a></li>
                    <li><a href="{{site.baseurl}}/about/lianxi.html">联系</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="text-center" style="background-color: #f5f5f5; padding: 30px; line-height: 30px;">
    Copyright 2014 Beijing Giamor Technologie Co.,LTD. 版权所有 北京佳膜环保科技有限公司<br>
    地址：北京市丰台区大溪地二区二号楼105     邮箱: postmaster@giamor-tech.com   京ICP备: 14012921号-1

</div> 
