<div class="container footer" >

    <div class="row text-center">

    </div>
    <ul class="row text-center" style="color: #616161!important; border-bottom: 1px solid #e0e0e0; padding: 20px 0 20px 0;">
        <li class="col-lg-2 col-md-2 col-sm-2"><a href="{{site.baseurl}}/about/wenhua.html">企业文化</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2"><a href="{{site.baseurl}}/about/company.html">研发背景</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2"><a href="{{site.baseurl}}/list.html">产品中心</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2"><a href="{{site.baseurl}}/tech/03.html">专利技术</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2"><a href="{{site.baseurl}}/about/jiameng.html">代理申请</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2"><a href="{{site.baseurl}}/about/lianxi.html">联系我们</a></li>
    </ul>

</div>
<div class="text-center" style="background-color: #f5f5f5; padding: 30px;">
    Copyright 2014 Beijing Giamor Technologie Co.,LTD. 版权所有 北京佳膜环保科技有限公司<br>
    地址：北京市丰台区大溪地二区二号楼105     邮箱: postmaster@giamor-tech.com   京ICP备: 14012921号-1

</div> 
