<meta name="author" content="ThinkCMF">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<title>{{page.title}}</title>
<!-- HTML5 shim for IE8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<link rel="icon" href="{{site.imgurl}}/assets/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="{{site.imgurl}}/assets/images/favicon.ico" type="image/x-icon">
<link href="{{site.baseurl}}/assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--[if IE 7]>
<link rel="stylesheet" href="{{site.baseurl}}/assets/simpleboot/font-awesome/4.4.0/css/font-awesome-ie7.min.css">
<![endif]-->
<link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
<script src="{{site.baseurl}}/assets/js/jquery-1.10.2.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery-migrate-1.2.1.js"></script>
<script src="{{site.baseurl}}/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script>
	$(function(){
		$(".dropdown a").hover(function(){
			$(this).parent().addClass("active");
		},function(){
			$(this).removeClass("open");
		});
		
		$(".nav li a").each(function() {
			if ($(this)[0].href == String(window.location)) {
				$(this).parent().addClass("active");
                console.log($(this)[0].href)
			}
			
		});
		console.log(String(window.location));
		
	});

	</script>