<div class="container">
  <div class="row">
      <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="padding: 8px 0 0px 8px;">
          <img src="{{site.imgurl}}/assets/images/logo.png"  />
      </div>
      <div class="col-lg-7 col-md-7 hidden-xs hidden-sm" style="display: flex; justify-content: flex-end;line-height: 25px; padding-top: 20px;">
            <div class="icon-flag icon-flag-china">CN</div>
            <div class="icon-flag icon-flag-en" style="margin:0 30px 0 20px;">EN</div>
          
      </div>
  </div>
</div>
<nav class="navbar navbar-default " role="navigation" >
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>


          </button>
          <a class="navbar-brand" href="#"><img src="{{site.imgurl}}/assets/images/logo-1.png"  /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{{site.baseurl}}/index.html" >首页 </a></li>
              <li class="dropdown product">
                <a href="#" class="dropdown-toggle"  data-toggle="dropdown">产品<span class="caret"></span></a>
                
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{site.baseurl}}/tech/01.html">工业过滤</a></li>
                    <li><a href="{{site.baseurl}}/tech/02.html">纺织面料</a></li>
                    <li><a href="{{site.baseurl}}/tech/05.html">纤维产品</a></li>
                    <li><a href="{{site.baseurl}}/tech/03.html">医疗</a></li>
                    <li><a href="{{site.baseurl}}/tech/04.html">消防</a></li>
                    <li><a href="{{site.baseurl}}/tech/04.html">航空航天</a></li>
                </ul>
              </li>
              <li class="dropdown product">
                <a href="#" class="dropdown-toggle"  data-toggle="dropdown">应用<span class="caret"></span></a>
                
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{site.baseurl}}/tech/01.html">航空航天</a></li>
                    <li><a href="{{site.baseurl}}/tech/02.html">服装面料</a></li>
                    <li><a href="{{site.baseurl}}/tech/05.html">氢能源</a></li>
                    <li><a href="{{site.baseurl}}/tech/03.html">化学</a></li>
                    <li><a href="{{site.baseurl}}/tech/04.html">环境保护</a></li>
                    <li><a href="{{site.baseurl}}/tech/01.html">消费与公共安全</a></li>
                    <li><a href="{{site.baseurl}}/tech/02.html">生命科学</a></li>
                    <li><a href="{{site.baseurl}}/tech/05.html">石油与天然气</a></li>
                    <li><a href="{{site.baseurl}}/tech/03.html">电力与公用事业</a></li>
                    <li><a href="{{site.baseurl}}/tech/04.html">半导体与芯片</a></li>
                </ul>
              </li>
              <li class="zoujinjiamo"><a href="{{site.baseurl}}/about/company.html">走进佳膜</a></li>

              <li class="dropdown hexinjishu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">核心技术<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{{site.baseurl}}/tech/01.html">行业标准</a></li>
                      <li><a href="{{site.baseurl}}/tech/02.html">政策声明</a></li>
                      <li><a href="{{site.baseurl}}/tech/05.html">行业指标</a></li>
                      <li><a href="{{site.baseurl}}/tech/03.html">技术信息</a></li>
                      <li><a href="{{site.baseurl}}/tech/04.html">安全信息</a></li>
                  </ul>
              </li>
              
              <li class="fuwuanli visible-lg-block"><a href="{{site.baseurl}}/anli/01.html">服务案例</a></li>
              <li style="width:100px"></li>

              <!-- <li class="{$hezuoshenqing}"><a href="{{site.baseurl}}/about/jiameng.html" >代理申请</a></li> -->
          </ul>


          
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>