<div style="background:url(/assets/images/bj.jpg) repeat center">
<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="padding: 8px 0 0px 8px;">
          <!-- <img src="{{site.imgurl}}/assets/images/logo.png" style="margin-top: 10px;"  /> -->
      </div>
      <div class="col-lg-4 col-md-4 hidden-xs hidden-sm" style="display: flex; justify-content: flex-end;line-height: 25px; padding-top: 20px;">
            <a href="/"><div class="icon-flag icon-flag-china">CN</div></a>
            <a href="/en/"><div class="icon-flag icon-flag-en" style="margin:0 30px 0 20px;">EN</div></a>
      </div>
  </div>
</div>
<nav class="navbar navbar-default" role="navigation" >
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>


          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/"><img src="{{site.imgurl}}/assets/images/logo.png"  /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="main-menu" >
              <!-- <li ><div style="width:40px; border-bottom-right-radius: 50px; background-color: #fff;line-height: 50px;">&nbsp;&nbsp;</div></li>
              <li style="width:10px;border-top-left-radius: 10px;">&nbsp;&nbsp;</li> -->
              <li><a href="{{site.baseurl}}/" >首页 </a></li>
              <li class="dropdown product">
                <a href="#" class="dropdown-toggle"  data-toggle="dropdown">产品<span class="caret" style="margin-left: 10px;"></span></a>
                
                <ul class="dropdown-menu" role="menu" style="min-width: 900px; padding: 20px; border-radius: 2%;left: -260px;">
                    <li><h3><span class="glyphicon glyphicon-list-alt" style="font-size: 18px;"></span> 功能纺织</h3>
                        <div>
                            <a href="{{site.baseurl}}/product/1.html#gaishu"><span  class="glyphicon glyphicon-play-circle"></span> 概述</a>  
                            <a href="{{site.baseurl}}/product/1.html#gongneng"><span  class="glyphicon glyphicon-play-circle"></span> 功能性面料</a>  
                            <a href="{{site.baseurl}}/product/1.html#junyong"><span  class="glyphicon glyphicon-play-circle"></span> 军用特种纺织</a>  
                            <a href="{{site.baseurl}}/product/1.html#xiaofang"><span  class="glyphicon glyphicon-play-circle"></span> 消防领域纺织</a>  
                            <a href="{{site.baseurl}}/product/1.html#huwai"><span  class="glyphicon glyphicon-play-circle"></span> 户外面料</a></div>
                    </li>
                    <li><h3><span class="glyphicon glyphicon-list-alt"  style="font-size: 18px;"></span> 新风净化</h3>
                        <div>
                            <a href="{{site.baseurl}}/product/2.html#gaishu"><span  class="glyphicon glyphicon-play-circle"></span> 概述</a>
                            <a href="{{site.baseurl}}/product/2.html#gongye"><span  class="glyphicon glyphicon-play-circle"></span> 工业滤袋试除尘</a>    
                            <a href="{{site.baseurl}}/product/2.html#hepa"><span  class="glyphicon glyphicon-play-circle"></span> 高效HEPA</a>  
                            <a href="{{site.baseurl}}/product/2.html#ulpa"><span  class="glyphicon glyphicon-play-circle"></span> 膜净窗式新风</a>  
                            </div>
                    </li>
                    <li><h3><span class="glyphicon glyphicon-list-alt"  style="font-size: 18px;"></span> 新能源电池</h3>
                        <div>
                            <a href="{{site.baseurl}}/product/3.html#gaishu"><span  class="glyphicon glyphicon-play-circle"></span> 概述</a>
                            <a href="{{site.baseurl}}/product/3.html#zhiqing"><span  class="glyphicon glyphicon-play-circle"></span> 电解水制氢</a>  
                            <a href="{{site.baseurl}}/product/3.html#dianchi"><span  class="glyphicon glyphicon-play-circle"></span> 新能源汽车氢燃料电池</a>  
                            <a href="{{site.baseurl}}/product/3.html#chuneng"><span  class="glyphicon glyphicon-play-circle"></span> 全钒液流电池储能系统</a></div>
                    </li>
                    <li><h3><span class="glyphicon glyphicon-list-alt"  style="font-size: 18px;"></span> 生物医药</h3>
                        <div>
                            <a href="{{site.baseurl}}/product/4.html#gaishu"><span  class="glyphicon glyphicon-play-circle"></span> 概述</a>  
                            <a href="{{site.baseurl}}/product/4.html#guolv"><span  class="glyphicon glyphicon-play-circle"></span> 生物过滤</a>  
                            <a href="{{site.baseurl}}/product/4.html#fanghu"><span  class="glyphicon glyphicon-play-circle"></span> 医疗防护</a>  
                            <a href="{{site.baseurl}}/product/4.html#qiguan"><span  class="glyphicon glyphicon-play-circle"></span> 人造器官</a>
                    </li>
                    <li><h3><span class="glyphicon glyphicon-list-alt"  style="font-size: 18px;"></span> 5G电子芯片</h3>
                        <div>
                            <a href="{{site.baseurl}}/product/5.html#gaishu"><span  class="glyphicon glyphicon-play-circle"></span> 概述</a>  
                            <a href="{{site.baseurl}}/product/5.html#guolv"><span  class="glyphicon glyphicon-play-circle"></span> 5G创新</a>  
                            <a href="{{site.baseurl}}/product/5.html#fanghu"><span  class="glyphicon glyphicon-play-circle"></span> 电子电气</a>  
                            <a href="{{site.baseurl}}/product/5.html#qiguan"><span  class="glyphicon glyphicon-play-circle"></span> 芯片</a>
                    </li>
                    
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"  data-toggle="dropdown">应用<span class="caret" style="margin-left: 10px;"></span></a>
                
                <ul class="dropdown-menu" role="menu"  style="min-width: 200px; padding: 20px; border-radius: 2%;left: -260px;">
                    <li><a href="{{site.baseurl}}/product/1.html#gongneng">航空航天</a></li>
                    <li><a href="{{site.baseurl}}/product/1.html#gaishu">服装面料</a></li>
                    <li><a href="{{site.baseurl}}/product/3.html#dianchi">氢能源</a></li>
                    <li><a href="{{site.baseurl}}/product/3.html#zhiqing">化学</a></li>
                    <li><a href="{{site.baseurl}}/product/4.html#gaishu">环境保护</a></li>
                    <li><a href="{{site.baseurl}}/product/1.html#xiaofang">消防与公共安全</a></li>
                    <li><a href="{{site.baseurl}}/product/4.html#guolv">生命科学</a></li>
                    <li><a href="{{site.baseurl}}/product/5.html#guolv">5G通讯</a></li>
                    <li><a href="{{site.baseurl}}/product/5.html#qiguan">半导体与芯片</a></li>
                </ul>
              </li>
              

              <li class="zoujinjiamo"><a href="{{site.baseurl}}/about/company.html">走进佳膜</a></li>
              <li style="width: 200px;">&nbsp;</li>
              
              <!-- <li style="width:10px;border-top-right-radius: 10px;">&nbsp;&nbsp;</li>
              <li ><div style="width:40px; border-bottom-left-radius: 50px; background-color: #fff;line-height: 50px;">&nbsp;&nbsp;</div></li> -->
              <!-- <li class="{$hezuoshenqing}"><a href="{{site.baseurl}}/about/jiameng.html" >代理申请</a></li> -->
          </ul>


          
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
{% include link.html %}