<widget name="hottest_articles">
    <div class="tc-box">
        
        <div class="ranking">

            <div style="background-color: #ffffff;padding:0 20px 20px 20px;"> 
                <div class="headtitle"><h4>{{site.company}}</h4></div> 
                <ul class="article_menu"> 
                    {% for p in site.tech %}
                    <li class="checked"><span class="glyphicon glyphicon-stop"></span>
                        <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a>
                    </li>
                    {%endfor%}
                </ul> 
            </div>


            
        </div>
    </div>
</widget>