<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script>
	$(function(){
		$("#bs-example-navbar-collapse-1 li.dropdown").hover(function(){
			$(this).addClass("open");
		},function(){
			$(this).removeClass("open");
		});
		
		$("#bs-example-navbar-collapse-1 a").each(function() {
			if ($(this)[0].href == String(window.location)) {
				$(this).parentsUntil("#bs-example-navbar-collapse-1>ul>li").addClass("active");
			}
			
		});
		console.log(String(window.location));
		console.log($(this)[0].href)
	});

	</script>



