<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html%}
  <style>
    .caption-wraper {
      position: absolute;
      left: 50%;
      bottom: 2em;
    }

    .caption-wraper .caption {
      position: relative;
      left: -50%;
      background-color: rgba(0, 0, 0, 0.54);
      padding: 0.4em 1em;
      color: #fff;
      -webkit-border-radius: 1.2em;
      -moz-border-radius: 1.2em;
      -ms-border-radius: 1.2em;
      -o-border-radius: 1.2em;
      border-radius: 1.2em;
    }

    .tc-gridbox {
      margin: 0;
    }

    @media (max-width: 767px) {
      .caption-wraper {
        left: 0;
        bottom: 0.4em;
      }

      .caption-wraper .caption {
        left: 0;
        padding: 0.2em 0.4em;
        font-size: 0.92em;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
      }
    }
  </style>
</head>

<body>
  {% include en_nav.html%}

  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mycarousel" data-slide-to="1"></li>
      <li data-target="#mycarousel" data-slide-to="2"></li>
      <li data-target="#mycarousel" data-slide-to="3"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="{{site.baseurl}}/en/product/3.html#dianchi" target="_blank"><img
            src="{{site.imgurl}}/assets/images/silder/en/01.jpg" alt="...">
          <div class="carousel-caption">
            {{site.encompany}}
          </div>
        </a>
      </div>
      <div class="item">
        <a href="{{site.baseurl}}/en/product/2.html#gaishu" target="_blank">
        <img src="{{site.imgurl}}/assets/images/silder/en/02.jpg" alt="...">
        <div class="carousel-caption">
            {{site.encompany}}
        </div></a>
      </div>
      <div class="item">
        <a href="{{site.baseurl}}/en/product/1.html#gaishu" target="_blank"><img
            src="{{site.imgurl}}/assets/images/silder/en/03.jpg" alt="...">
          <div class="carousel-caption">
            {{site.encompany}}
          </div>
        </a>
      </div>
      <div class="item">
        <a href="{{site.baseurl}}/en/product/4.html#gaishu" target="_blank"><img
            src="{{site.imgurl}}/assets/images/silder/en/04.jpg" alt="...">
          <div class="carousel-caption">
            {{site.encompany}}
          </div>
        </a>
      </div>
      <div class="item">
        <a href="{{site.baseurl}}/en/product/1.html#gaishu" target="_blank"><img
            src="{{site.imgurl}}/assets/images/silder/en/05.jpg" alt="...">
          <div class="carousel-caption">
            {{site.encompany}}
          </div>
        </a>
      </div>
      <div class="item">
        <a href="{{site.baseurl}}/en/product/1.html#gaishu" target="_blank"><img
            src="{{site.imgurl}}/assets/images/silder/en/06.jpg" alt="...">
          <div class="carousel-caption">
            {{site.encompany}}
          </div>
        </a>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div style="background:url(/assets/images/p_bj.jpg) repeat center">
    <div class="container" style="padding-top: 20px;">
      <div class="jumbotron">
        <h1>Entering Giamor</h1>
        <p>Beijing Giamor Environmental Protection Technology Co., Ltd. was established in 2013, with a total investment
          of over 100 million yuan, mainly used for independent research and development and en/production of 4MTM
          polytetrafluoroethylene microporous membranes that catch up with international advanced levels.</p>
        <p><a class="btn btn-primary btn-lg" href="/en/about/company" role="button">More</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="{{site.baseurl}}/en/product/1.html#huwai"><img src="{{site.baseurl}}/assets/images/1.jpg"
                alt="..."></a>
            <div class="caption">
              <h3>Outdoor protection</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="{{site.baseurl}}/en/product/2.html#hepa"><img src="{{site.baseurl}}/assets/images/2.jpg"
                alt="..."></a>
            <div class="caption">
              <h3>Efficient filtration</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="{{site.baseurl}}/en/product/5.html#gaishu"><img src="{{site.baseurl}}/assets/images/3.jpg"
                alt="..."></a>
            <div class="caption">
              <h3>5G Electronics</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="{{site.baseurl}}/en/product/3.html#dianchi"><img src="{{site.baseurl}}/assets/images/4.jpg"
                alt="..."></a>
            <div class="caption">
              <h3>Hydrogen new energy
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="{{site.baseurl}}/en/product/4.html#guolv"><img src="{{site.baseurl}}/assets/images/5.jpg"
                alt="..."></a>
            <div class="caption">
              <h3>biomedicine</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <a href="{{site.baseurl}}/en/product/1.html#gongneng"><img src="{{site.baseurl}}/assets/images/6.jpg"
                alt="..."></a>
            <div class="caption">
              <h3>Aerospace protection</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include en_footer.html%}
  <!-- /container -->
  <include file="public@scripts" />
  <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
  <script>
    $(function () {
      $("#home-slider").slippry({
        transition: 'fade',
        useCSS: true,
        captions: false,
        speed: 1000,
        pause: 3000,
        auto: true,
        preload: 'visible'
      });
      $("#home-slider").show();
    });


  </script>
  <hook name="before_body_end" />
</body>

</html>