<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="body-white">
    {% include en_nav.html%}

    <div style="background-color: #f5f5f5; padding: 30px 0 30px 0;">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/en/">Home</a></li>
                <li class="active">Products</li>
                <li class="active">New energy</li>
            </ol>
        </div>
        <div class="container product-detail" style="background-color: #fff;">
            <div class="row" id="gaishu">
                <div class="col-md-8">
                    <h1>Summary</h1>
                    <p>Proton exchange membrane (PEM) is currently mainly used in the fields of new energy vehicles
                        hydrogen fuel cells, electrolysis of water to produce hydrogen, and energy storage. The proton
                        exchange membrane (PEMFC) is a technologically challenging and high-value link in the organic
                        hydrogen chemical industry chain. Historically, the global proton exchange membrane market has
                        been dominated by large foreign companies, including Gore-Selectr from the United States, DuPont
                        from the United States, Asahi Glass and Asahi Kasei from Japan.</p>
                </div>
                <div class="col-md-4" style="padding-top: 15px;">
                    <img src="{{site.imgurl}}/assets/images/product/20241001202643.jpg" class="img-thumbnail">
                </div>
            </div>
            <hr>
            <div class="row" id="zhiqing">
                <div class="col-md-8">
                    <h1>Electrolysis of water to produce hydrogen</h1>
                    <p>According to data from the National Bureau of Statistics, the total amount of wasted water, wind,
                        and solar energy in China is 102.2 billion kWh. If 10% of this energy is used for hydrogen
                        production, it can meet the hydrogen demand of more than 1 million passenger cars. Currently,
                        the most mature methods for electrolytic water hydrogen production are the proton exchange
                        membrane (PEM) electrolysis and alkaline electrolysis. PEM electrolysis has a comprehensive
                        advantage over traditional alkaline electrolysis in terms of service life, current density,
                        equipment startup and shutdown speed, and later maintenance costs. In addition, PEM electrolysis
                        is more stable and has a smaller footprint, making it advantageous for large-scale development.
                    </p>
                    <img src="{{site.imgurl}}/assets/images/product/20241014195723.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4">
                    <h4>Electrolysis of water to produce hydrogen</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="new">
                <div class="col-md-8">
                    <h1>A New Generation of Proton Exchange Membrane Substrates</h1>
                    <p>A hydrogen fuel cell is a power generation device that converts the chemical energy of hydrogen
                        and oxygen directly into electricity.
                        Its basic principle is to supply hydrogen and oxygen separately to the anode and cathode, where
                        hydrogen diffuses outwards through the anode and reacts with the electrolyte to release
                        electrons that pass through an external load to reach the cathode, thereby producing an electric
                        current.
                    </p>
                    <h4>pollution-free</h4>
                    <p>Hydrogen fuel cells are environmentally friendly.</p>
                    <h4>No noise.</h4>
                    <p>Hydrogen fuel cells operate quietly, with noise levels of around 55dB, which is about the level
                        of human conversation.</p>
                    <h4>High efficiency</h4>
                    <p>The electricity generation efficiency of a hydrogen fuel cell can be over 50%, and its energy
                        conversion efficiency is 2-3 times that of a gasoline engine.
                    </p>
                    <p>The membrane electrode assembly (MEA) is the most critical component of a hydrogen fuel cell. The
                        MEA, consisting of a proton exchange membrane, a catalyst layer, and a gas diffusion layer, is
                        equivalent to the heart of a fuel cell and determines the lifespan and performance of a hydrogen
                        fuel cell.Of these components, the proton exchange membrane's main function is to transmit
                        protons, separate reaction gases, and electrically insulate. It is responsible for "keeping the
                        gate," allowing protons to pass through while blocking electrons, hydrogen molecules, and water
                        molecules. It is an indispensable key material, equivalent to the "chip" of a fuel cell, and its
                        performance directly affects the stability and durability of the fuel cell.
                    </p>
                    <p>So far, the proton exchange membrane used for assembling hydrogen fuel cells has been mostly the
                        perfluorosulfonic acid type (represented by DuPont's products in the United States), but this
                        type of proton exchange membrane has shown several shortcomings:</p>
                    <p>1.The production costs are high.<br>
                        2.The size of the membrane conductance is closely related to its water content, which complicates
                        the battery water management.<br>
                        3.The dimensional stability is poor, and the size of the film can change by 10% to 20% in the dry
                        state and wet state.</p>
                    <p>It is also these drawbacks that have hindered the further large-scale application of
                        perfluorosulfonic acid type proton exchange membrane, becoming one of the bottlenecks
                        restricting the actual industrialization of hydrogen fuel cells.
                    </p>
                    <p>Composite proton exchange membrane is a new generation of proton exchange membrane, which is made
                        by combining a fully fluorinated non-ionic microporous medium as the base membrane with a fully
                        fluorinated ion exchange resin to form a composite proton exchange membrane. This structure
                        improves the properties of the original membrane and enhances the mechanical strength and
                        dimensional stability of the membrane.
                        Meanwhile, the composite proton exchange membrane, which is currently monopolized by the
                        American Gore Company, has yet to be produced in China that meets the requirements of hydrogen
                        fuel cells.
                    </p>
                    <p>Jiamu Company leverages its long-term experience in the research and production of PTFE membranes
                        to develop proton exchange membrane (PEM) substrates since 2020. Its main technical indicators
                        have already met the requirements of PEM manufacturers to a large extent. In the near future,
                        Jiamu Company's PEM substrates will become the first domestic supplier to replace foreign
                        monopoly on the core component of hydrogen fuel cell - PEM.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/q1.jpg" class="img-thumbnail col-md-4"
                            style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/q2.jpg" class="img-thumbnail col-md-4"
                            style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/q3.jpg" class="img-thumbnail col-md-4"
                            style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>A New Generation of Proton Exchange Membrane Substrates
                    </h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="dianchi">
                <div class="col-md-8">
                    <h1>New Energy Vehicle Hydrogen Fuel Cell</h1>
                    <p>Proton exchange membrane fuel cell (PEMFC) is the most commonly used form of fuel cell, which has
                        the advantages of small size, high working efficiency, rapid start-up, long life and high
                        current. It is a power generation device that converts the chemical energy of hydrogen and
                        oxygen directly into electrical energy. The basic principle is to supply hydrogen and oxygen to
                        the anode and cathode respectively, and hydrogen diffuses outwards through the anode and reacts
                        with the electrolyte, releasing electrons through the external load to the cathode, thus
                        generating a current. According to statistics, PEMFC absolutely dominates the shipments of fuel
                        cell types, both in number of units (currently more than 44,000 per year) and megawatts
                        (currently more than 1,000 MW) In the past five years, it has maintained rapid growth, and its
                        market share has exceeded 80%. According to the "Energy saving and New energy Vehicle Technology
                        Roadmap" proposed in 2025 and 2030, the development goal of fuel cell vehicles is 165,000 and 1
                        million. It can be seen that proton exchange membrane as a core component of fuel cells, the
                        next 3-5 years of incremental market space is very broad.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001201703.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001201559.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001201640.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>New Energy Vehicle Hydrogen Fuel Cell</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="chuneng">
                <div class="col-md-8">
                    <h1>Vanadium Redox Flow Battery Energy Storage System</h1>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001202846.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001202918.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001202947.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>
                    <p>Vanadium redox flow batteries are safer to operate than traditional lithium-ion battery systems
                        due to their liquid flow system, and have a longer lifespan of up to 20 years, with tens of
                        thousands of charge and discharge cycles, which is 3-4 times the life cycle of traditional
                        batteries.</p>
                    <img src="{{site.imgurl}}/assets/images/product/20241014200017.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4">
                    <h4> Vanadium Redox Flow Battery Energy Storage System</h4>{% include en_wellcome.html%}
                </div>
            </div>

        </div>
    </div>

    {% include en_footer.html %}

    <!-- /container -->
    <include file="public@scripts" />
    <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
    <script>
        $(function () {
            $("#home-slider").slippry({
                transition: 'fade',
                useCSS: true,
                captions: false,
                speed: 1000,
                pause: 3000,
                auto: true,
                preload: 'visible'
            });
            $("#home-slider").show();
        });


    </script>
    <hook name="before_body_end" />
</body>

</html>