<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="body-white">
    {% include en_nav.html%}

    <div style="background-color: #f5f5f5; padding: 30px 0 30px 0;">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/en/">Home</a></li>
                <li class="active">Products</li>
                <li class="active">Electronic chip</li>
            </ol>
        </div>
        <div class="container product-detail" style="background-color: #fff;">
            <div class="row" id="gaishu">
                <div class="col-md-8">
                    <h1>Summary</h1>
                    <p>The excellent properties of low moisture absorption, electrical performance stability, and
                        chemical inertness of PTFE make it very suitable for data transmission cables that require low
                        attenuation. As one of the lowest dielectric constants of organic materials, it will be widely
                        used in the 5G communication field in areas such as base station filter high-frequency
                        high-speed PCB/FPC, 5G chip process, and high-frequency connectors, cables, etc.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{site.imgurl}}/assets/images/product/20241003231328.jpg" class="img-thumbnail"
                        style="margin-top: 10px;">
                </div>
            </div>

            <hr />
            <div class="row" id="fanghu">
                <div class="col-md-8">
                    <h1>Electronic and Electrical</h1>
                    <p>The dielectric constant of PTFE is relatively small, so it can be used to prepare enameled wires,
                        which can be used in miniature motors. PTFE glass-coated fabric and glass fabric are used to
                        make high-temperature, high-frequency insulating materials, which can be used in satellite
                        communication and computer applications: PTFE film is used to make capacitors, as an insulating
                        layer, cushion, cable, etc. for instruments; different-diameter PTFE thin-walled tubes are used
                        as insulating sleeves, heat-shrink tubes, spiral tubes, and insulating water-inlet tubes for
                        generators.</p>
                    <p>

                        <br>1. Insulation layer of wires and cables: PTFE's high insulation properties make it an ideal
                        material for wire and cable insulation, effectively preventing current leakage and ensuring safe
                        use. For example, Danke's PTFE heat shrink tubing can be used as an insulating material for
                        wires.
                        <br>2. Circuit board substrate: The high temperature resistance and stable electrical properties
                        of PTFE make it an ideal choice for high-frequency and microwave circuit board substrates.
                        <br>3. Capacitors: The low dielectric constant and low dielectric loss of PTFE film make it an
                        ideal material for making capacitors, which perform well in communication and radar equipment.
                        <br>4. Other electrical components: PTFE is also suitable for making insulating washers,
                        electrical connectors, and other components that require excellent electrical properties and
                        corrosion resistance. PTFE perfectly meets these requirements.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003223703.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003231216.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003223844.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>Electronic and Electrical</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr>
            <div class="row" id="qiguan">
                <div class="col-md-8">
                    <h1>semiconductor chip</h1>
                    <p>PTFE products can be used in the device cleaning, special chemical storage and other links in the
                        semiconductor manufacturing field, due to its high cleanliness, it has excellent performance in
                        the application of semiconductor packaging engineering, liquid crystal industry welding and
                        release, etc. The PTFE semi-oriented film made by high-precision rollers at high temperature has
                        the characteristics of high density, uniform thickness, high tensile strength and stable
                        orientation, and has been successfully applied in the field of semiconductor chip packaging, and
                        is suitable for the wrapping of high-temperature cables, compensation wires and high-frequency
                        cables. The company's carbon nanotube composite material has the characteristics of low
                        addition, high conductivity, low carbon footprint, low volatile gas, good physical properties,
                        etc., and is expected to become one of the main material solutions in the semiconductor
                        packaging industry in the future. The company will study the future development trend of the
                        semiconductor industry and develop material solutions that meet the special requirements of the
                        industry. NVIDIA, as a representative of the head customers, is the end customer of the
                        company's materials products.</p>

                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003225547.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003223900.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003225508.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>semiconductor chip</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr>
            <div class="row" id="guolv">
                <div class="col-md-8">
                    <h1>Innovation</h1>
                    <p>5G is a network that can meet the explosive data demand at any time and place. In mobile and
                        fixed networks, 5G wireless networks will use high-frequency transmission technology. To achieve
                        high-frequency transmission, it is necessary to use low dielectric constant and low dielectric
                        loss materials. The excellent properties of low moisture absorption, electrical performance
                        stability, and chemical inertness of polytetrafluoroethylene make it very suitable for
                        low-attenuation data transmission cables. As one of the lowest dielectric constants of organic
                        materials, it will be widely used in the 5G communication field in areas such as base station
                        filters, high-frequency high-speed PCB/FPC, 5G chip process, and high-frequency connectors and
                        cables. The PCB of the 5G mobile phone motherboard uses a high-frequency copper-clad laminate
                        based on PTFE to reduce signal loss. The high-frequency signal transmission between the RF
                        module and the antenna module of the 5G mobile phone is completed through PTFE fine-pitch RF
                        coaxial cable, ensuring low loss of high-frequency high-speed signals in the mobile phone.</p>
                    <p>The motherboard of 5G mobile phones adopts a printed circuit board (PCB) based on PTFE
                        high-frequency copper-clad laminate to reduce signal loss. The RF signal transmission between
                        the 5G mobile phone RF module and antenna module is completed through PTFE micro RF coaxial
                        cable, ensuring low loss of high-frequency and high-speed signals for the mobile phone.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241004104028.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003223818.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241004105634.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Innovation</h4>{% include en_wellcome.html%}
                </div>
            </div>

        </div>
    </div>

    {% include en_footer.html %}

    <!-- /container -->
    <include file="public@scripts" />
    <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
    <script>
        $(function () {
            $("#home-slider").slippry({
                transition: 'fade',
                useCSS: true,
                captions: false,
                speed: 1000,
                pause: 3000,
                auto: true,
                preload: 'visible'
            });
            $("#home-slider").show();
        });


    </script>
    <hook name="before_body_end" />
</body>

</html>