<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="body-white">
    {% include en_nav.html%}

    <div style="background-color: #f5f5f5; padding: 30px 0 30px 0;">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/en/">Home</a></li>
                <li class="active">Product</li>
                <li class="active">FunctionalTextile</li>
            </ol>
        </div>
        <div class="container product-detail" style="background-color: #fff;">
            <div class="row" id="gaishu">
                <div class="col-md-8">
                    <h1>Summary</h1>
                    <p> Polytetrafluoroethylene (PTFE) is formed by laminating PTFE microporous
                        film with ordinary fabric using a special adhesive through a lamination process.
                        It is waterproof, but sweat vapor emitted by the human body can diffuse or pass through
                        the fabric to the outside, without accumulating and condensing between the body and the fabric.


                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{{site.imgurl}}/assets/images/product/20241001124831.jpg" class="img-thumbnail"
                        style="margin-top: 10px;">
                </div>
            </div>
            <hr>
            <div class="row" id="gongneng">
                <div class="col-md-8">
                    <h1>Functional fabrics</h1>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001125719.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001131331.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001131858.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>
                    <h4>Wind resistance</h4>
                    <p>The PTFE membrane has a networked multilayer microporous structure, with pores that are not
                        permeable. When wind contacts the surface of the film, it encounters obstruction and changes
                        direction or turns back. Air is difficult to penetrate, so external airflow cannot directly
                        contact the human body.</p>
                    <h4>thermal insulation</h4>
                    <p>The PTFE membrane has a strong vapor permeability, which can quickly transmit the steam emitted
                        by the human body to the microporous membrane outside, preventing water vapor from condensing
                        into liquid water and reducing heat transfer by water. At the same time, the wind cannot
                        penetrate, effectively preventing air convection, thus making the film have good windproof and
                        heat-retaining effects. Tests show that the heat-retaining effect of the 4M-PTFE laminated
                        fabric in a wind speed of 25m/s is 30-40% higher than that of traditional down jackets.</p>
                    <h4>Waterproofing properties</h4>
                    <p>The Giamor Membrane 4M-PTFE membrane can withstand water pressure of around 20,000mm water column
                        (i.e. it can only penetrate when the pressure is greater than 18 meters of water column), the
                        pore size of the membrane micro holes is about 0.2um, while the diameter of the hair-like rain
                        droplets is 400um, the diameter of the larger rain droplets is around 3000um, and the diameter
                        of the heavy rain droplets is more than 6000um. Therefore, the pore size of the membrane micro
                        holes is 1/1000 to 1/20000 of the diameter of water droplets, and at the same time, the surface
                        energy of PTFE is low, and it is naturally hydrophobic, so even the smallest raindrops cannot
                        pass through the membrane micro holes.</p>
                    <h4>water vapor permeability</h4>
                    <p>The test for water vapor permeability is internationally regulated by using the indicator of
                        water vapor resistance, i.e., the smaller the resistance, the higher the air permeability. The
                        test value of Jia Membrane 4M-PTFE fabric is 32,603 g/m2·24hr, with a daily water vapor
                        permeability greater than 32 liters, which is more than 10 times that of common fabrics.</p>
                </div>
                <div class="col-md-4">
                    <h4>Functional fabrics</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="junyong">
                <div class="col-md-8">
                    <h1>Military Specialty Textiles</h1>
                    <img src="{{site.imgurl}}/assets/images/product/20241003160906.jpg" class="img-thumbnail">
                    <p>The Giamor Membrane 4M-PTFE membrane composite fabric has excellent anti-sandstorm, waterproof,
                        insulation, breathable, heat-resistant, and flame-retardant properties, and is used in military,
                        police, firefighting, special occupations, and outdoor fields.</p>
                        <img src="{{site.imgurl}}/assets/images/product/20241014193901.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4">
                    <h4>Military Specialty Textiles</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="xiaofang">
                <div class="col-md-8">
                    <h1>Fire Protection Textiles</h1>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001140512.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001140618.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001140735.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>
                    <p>The Giamor 4M-PTFE membrane composite fabric and other barrier technologies are used throughout
                        the rescue services, including building firefighting, emergency medical services, search and
                        rescue, and law enforcement, providing the highest level of head-to-toe protection, comfort, and
                        performance.</p>
                </div>
                <div class="col-md-4">
                    <h4>Fire Protection Textiles</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="huwai">
                <div class="col-md-8">
                    <h1>Outdoor fabric</h1>
                    <p>PTFE film has excellent thermal stability and can be used normally at temperatures ranging from a
                        minimum of -150°C to a maximum of +260°C, while materials such as PU coating or TPU composite
                        fabrics will break and freeze at temperatures of -30°C. Japanese mountain climbers have worn
                        clothing made of PTFE film fabric and have successfully climbed mountains over 8,000 meters in
                        height. The clothes have withstood the test of climate conditions with temperatures as low as
                        -30°C and wind speeds of 30m/s, with the climbers showing no signs of frostbite. The 4M-PTFE
                        film composite fabric can withstand high temperatures of up to 260°C and low temperatures of
                        -150°C, making it suitable for use in harsh environments to provide protection, and is also an
                        excellent choice for firefighting suits, polar mountaineering suits, and materials for use in
                        special environments.</p>
                    <img src="{{site.imgurl}}/assets/images/product/20241003160457.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4">
                    <h4>Outdoor fabric</h4>{% include en_wellcome.html%}
                </div>
            </div>

        </div>
    </div>


    {% include en_footer.html %}


    <!-- /container -->
    <include file="public@scripts" />
    <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
    <script>
        $(function () {
            $("#home-slider").slippry({
                transition: 'fade',
                useCSS: true,
                captions: false,
                speed: 1000,
                pause: 3000,
                auto: true,
                preload: 'visible'
            });
            $("#home-slider").show();
        });


    </script>
    <hook name="before_body_end" />
</body>

</html>