<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="body-white">
    {% include en_nav.html%}

    <div style="background-color: #f5f5f5; padding: 30px 0 30px 0;">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/en/">Home</a></li>
                <li class="active">Products</li>
                <li class="active">Biomedicine</li>
            </ol>
        </div>
        <div class="container product-detail" style="background-color: #fff;">
            <div class="row" id="gaishu">
                <div class="col-md-8">
                    <h1>Summary</h1>
                    <p>The biomedical materials sector is a cutting-edge field, and currently only two companies in the
                        world, GE of the US and POLL, can independently complete the research and development and market
                        operation of products. The remaining Japanese and American companies that produce related
                        composite materials are using the base films of these two companies. Jia Membrane has already
                        completed the research and development of the base film and composite products, and has reached
                        the production standards of European and American companies in the industry. The company strives
                        to complete domestic substitution within the next five years. In the medical protection field,
                        Jia Membrane has reached the leading international level, and its products have been
                        mass-produced. Currently, the company's protective product orders are sufficient. The PTFE
                        medical protective materials developed and mass-produced by the company for medical protection
                        are praised as "breathable protective clothing" due to their excellent protection,
                        breathability, and aging resistance. They are medical protective products for the post-epidemic
                        era.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{site.imgurl}}/assets/images/product/20241001204817.jpg" class="img-thumbnail">
                </div>
            </div>
            <hr>
            <div class="row" id="guolv">
                <div class="col-md-8">
                    <h1>Bio-medical filter membrane</h1>
                    <p>Bacteria are typically larger than 1um in size, but the pore size of the PTFE membrane can be as
                        small as 0.02um, allowing for ultra-clean filtration of gases and liquids. The self-cleaning
                        function (coefficient of friction ≤ 0.04) of the membrane's surface can prevent bacteria from
                        accumulating on the membrane. PTFE micro-porous membrane has good high-temperature resistance
                        (260°C) and chemical resistance (strong acids and alkalis), it is hydrophobic (water absorption
                        rate is about 0.001%-0.005%), non-aqueous solvent, and is an ideal choice for sterile exhaust of
                        non-aqueous solvents, acids, and corrosive liquids. After being modified with hydrophilicity, it
                        can also be used for bacterial filtration of aqueous solutions and the manufacture of various
                        medical protective equipment.
                    </p>
                    <p>
                        <br>Microfilter cartridges (for liquid and sterile gas)
                        <br>Needle filter
                        <br>Filter exhaust port
                        <br>Sensor protection device (for dialysis, etc.)
                        <br>Discharge outlet of storage tank
                        <br>Hemodialysis membrane

                    </p>

                    <img src="{{site.imgurl}}/assets/images/product/20241014201237.jpg" class="img-thumbnail"
                        style="padding:10px">
                </div>
                <div class="col-md-4">
                    <h4>Bio-medical filter membrane</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="fanghu">
                <div class="col-md-8">
                    <h1>New ePTFE Medical Protective Materials</h1>
                    <p>The fabric is made of non-woven lining + PTFE film + non-woven lining composite. PTFE film is
                        made of polytetrafluoroethylene as raw material, using special processes of calendering,
                        extrusion, biaxial stretching, high-temperature setting, etc. to prepare, the surface of the
                        film is covered with original fiber-like microholes, the porosity rate is above 90%, there are
                        more than 90 billion microholes per square inch, PTFE film can block water droplets, particles,
                        bacteria from passing through, but can allow water vapor to pass through, with excellent
                        waterproof, breathable, moisture-permeable, bacteriostatic effects. The fabric has good color
                        fastness to washing, can be washed ten times or less, prevent shrinkage, non-flammability, no
                        toxicity and no irritation, no harm to the skin, wear resistance, etc. properties. Since the
                        pore size of the PTFE micro-pore film can be controlled at around 0.2um, it is a new type of
                        protective clothing fabric. After being composite with fabrics, it can be made into protective
                        clothing to block viruses from passing through, and the material itself also has the function of
                        waterproof and breathable, which brings better comfort to the user. The most important function
                        of blocking bacteria and viruses is 100%, coupled with its high breathability, it allows the
                        user's skin to breathe freely while wearing, so that the body can work in an oxygen-rich state.
                        Humanized design, breathable, waterproof, bacteriostatic, flame-retardant, anti-static,
                        anti-aging, anti-penetration, etc. functions, is the best equipment material for medical
                        personnel.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001205501.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001205607.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001205807.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>New ePTFE Medical Protective Materials</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <div class="row" id="qiguan">
                <div class="col-md-8">
                    <h1>Artificial organs</h1>
                    <h4 style="margin-top: 20px;">Artificial heart valves</h4>
                    <p>A mechanical valve is an artificial heart valve made of man-made materials that can be implanted
                        in the heart to replace a damaged natural heart valve, thus achieving unidirectional blood flow
                        and possessing the function of a natural valve. The composition of a mechanical valve typically
                        includes three parts: a rigid material used to make the support structure, a flexible material
                        used to make the obstruction body, and a textile material used to make the valve ring. The
                        support material is usually made of cobalt-chromium-nickel alloy, titanium, polyacetal resin, or
                        polytetrafluoroethylene.
                    </p>
                    <h4>Preparation of artificial vessels</h4>
                    <p>Artificial blood vessels are usually made of synthetic materials such as nylon, Dacron, ePTFE
                        (expanded polytetrafluoroethylene), and the market share of ePTFE artificial blood vessels is
                        relatively high. Artificial blood vessels are suitable for blood vessel bypass surgery in
                        various parts of the body. The artificial blood vessels currently used in clinical practice
                        include composite wall artificial blood vessels, autologous tissue sheet transplantation
                        artificial blood vessels, Y-type artificial blood vessels, and conical artificial blood vessels.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003170442.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003170522.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003170815.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>Artificial organs</h4>{% include en_wellcome.html%}
                </div>
            </div>

        </div>
    </div>

    {% include en_footer.html %}

    <!-- /container -->
    <include file="public@scripts" />
    <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
    <script>
        $(function () {
            $("#home-slider").slippry({
                transition: 'fade',
                useCSS: true,
                captions: false,
                speed: 1000,
                pause: 3000,
                auto: true,
                preload: 'visible'
            });
            $("#home-slider").show();
        });


    </script>
    <hook name="before_body_end" />
</body>

</html>