<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="body-white">
    {% include en_nav.html%}

    <div style="background-color: #f5f5f5; padding: 30px 0 30px 0;">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/en/">Home</a></li>
                <li class="active">Products</li>
                <li class="active">Fresh air filtration</li>
            </ol>
        </div>

        <div class="container product-detail" style="background-color: #fff;">

            <div class="row" id="gaishu">
                <div class="col-md-8">
                    <h1>Summary</h1>
                    <p>With stricter environmental regulations, pollution control has become a problem that must be
                        faced in terms of the environment, finances, and the law. Jia Membrane's baghouse dust collector
                        is a highly efficient dust collector that is widely used in industrial waste gas dust removal,
                        such as in the light industry, mechanical manufacturing, building materials, chemical industry,
                        non-ferrous metal smelting, and steel enterprises. It is simpler in structure than an
                        electrostatic dust collector, with lower investment and more stable operation, and can also
                        recover dust that is difficult to recover.</p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001175812.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001175831.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001175858.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{site.imgurl}}/assets/images/product/20241001172446.jpg" class="img-thumbnail">
                </div>
            </div>
            <hr>
            <div class="row" id="gongye">
                <div class="col-md-8">
                    <h1>Industrial Bag Filter Dust Collection</h1>

                    <p>A bag filter is a highly efficient dust collector that is widely used in various industrial waste
                        gas dust removal, such as light industry, mechanical manufacturing, building materials, chemical
                        industry, non-ferrous metal smelting and steel enterprises. It is simpler in structure than an
                        electrostatic precipitator and has lower investment and stable operation. It can also recover
                        the dust that is difficult to recover. Therefore, for fine and dry dust, using a general bag
                        filter for purification is suitable, but the particulate matter purification accuracy is only 50
                        mg/m3. A general bag filter is not suitable for purifying gas containing oil mist, condensate,
                        and sticky powder, and it is generally not resistant to high temperatures.</p>

                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003161159.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003162821.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003162740.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>Industrial Bag Filter Dust Collection</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr>
            <div class="row" id="hepa">
                <div class="col-md-8">
                    <h1>Efficient HEPA</h1>

                    <p>
                        HEPA (High Efficiency Particulate Air Filter) means high-efficiency air filter in Chinese. HEPA
                        is divided into five materials: PP (polypropylene) filter paper, glass fiber, composite PP/PET
                        (polyethylene terephthalate, polyester) filter paper, melt blown polyester non-woven fabric, and
                        melt blown glass fiber.
                    </p>
                    <p>HEPA filter material is made of chemical fiber meltblown or fiber laminated or woven, and its
                        filtration mechanism has the following four types:
                        <br>(1) The first one is the interception mechanism, which works on large particles.
                        <br>(2) The second mechanism is the influence of gravity. Particles with small volume and high
                        density will experience a decrease in velocity when passing through a HEPA filter and naturally
                        settle onto the HEPA. This process is somewhat similar to the sedimentation of sediment in water
                        downstream of a river.
                        <br>(3) The third mechanism of HEPA filters is the influence of airflow. Due to the uneven
                        weaving of HEPA filters, a large number of air vortices are formed, and ultra small particles
                        are adsorbed on the HEPA filter due to the influence of this cyclone, achieving the purpose of
                        filtration.
                        <br>(4) The fourth filtering mechanism is that ultrafine particles collide with HEPA filter
                        fibers under Brownian motion and are affected by van der Waals forces, resulting in adsorption
                        and filtration. It can be seen that in addition to the first mechanism of intercepting large
                        particles, it utilizes the static electricity at the fiber roots to adsorb small particles and
                        achieve filtration effect.
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001181148.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001180839.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001180649.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>Efficient HEPA</h4>{% include en_wellcome.html%}
                </div>
            </div>
            <hr />
            <div class="row" id="ulpa">
                <div class="col-md-8">
                    <h1>Membrane purification window ventilation</h1>
                    <p>The 4M-PTFE membrane is a truly disposable filter that can remove PM2.5 and PM10 to 99.7% without
                        having to repeatedly filter unclean indoor air like an indoor air purifier. The effectiveness of
                        the 4M-PTFE membrane is not affected by any environmental factors. Generally, HEPA filters
                        become ineffective in high humidity environments and their performance significantly
                        deteriorates after 3 uses. When encountering outdoor pollution, the people in homes and offices
                        most need clean outdoor air to ventilate their homes or offices. When outdoor air is severely
                        polluted, it is not possible to open windows for ventilation, even though indoor air purifiers
                        can be turned on. However, the carbon dioxide concentration in the room will gradually increase.
                        When the carbon dioxide concentration exceeds a certain level, it can affect breathing because
                        the concentration of carbonic acid in the blood increases, acidity increases, and acidosis
                        occurs. When the carbon dioxide fraction in the air is 1%, people feel stuffy and dizzy. When it
                        is 4-5%, they feel dizzy. Because carbon dioxide is heavier than air and accumulates at low
                        levels, the harm to indoor children is greater when the carbon dioxide concentration is high.
                    </p>
                    <img src="{{site.imgurl}}/assets/images/product/20241001181329.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4">
                    <h4>Membrane purification window ventilation</h4>{% include en_wellcome.html%}
                </div>
            </div>

        </div>
    </div>

    {% include en_footer.html %}

    <!-- /container -->
    <include file="public@scripts" />
    <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
    <script>
        $(function () {
            $("#home-slider").slippry({
                transition: 'fade',
                useCSS: true,
                captions: false,
                speed: 1000,
                pause: 3000,
                auto: true,
                preload: 'visible'
            });
            $("#home-slider").show();
        });


    </script>
    <hook name="before_body_end" />
</body>

</html>