<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="body-white">
    {% include nav.html%}

    <div style="background-color: #f5f5f5; padding: 30px 0 30px 0;">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">产品</li>
                <li class="active">新风过滤</li>
            </ol>
        </div>

        <div class="container product-detail" style="background-color: #fff;">

            <div class="row" id="gaishu">
                <div class="col-md-8">
                    <h1>概述</h1>
                    <p>环保法规越来越严格，污染控制已经成为环境、财务和法律方面都不得不必须面对的问题。
                        佳膜的袋式除尘器作为一种高效除尘器，广泛用于各种工业废气除尘中，如轻工、机械制造、建材、化工、有色冶炼及钢铁企业等。
                        它比电除尘器的结构简单，投资省，运行稳定，还可以回收因难于回收的粉尘。
                    </p>
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001175812.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001175831.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001175858.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{site.imgurl}}/assets/images/product/20241001172446.jpg" class="img-thumbnail">
                </div>
            </div>
            <hr>
            <div class="row" id="tedian">
                <div class="col-md-8">
                    <h1>佳膜-ePTFE覆膜滤料的特点和优势</h1>

                        <img src="{{site.imgurl}}/assets/images/product/1.jpg" class="img-thumbnail">
                        <img src="{{site.imgurl}}/assets/images/product/2.jpg" class="img-thumbnail">

<!-- 
                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001181148.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001180839.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241001180649.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div> -->

                </div>
                <div class="col-md-4">
                    <h4>佳膜-ePTFE覆膜滤料的特点和优势</h4>{% include wellcome.html%}
                </div>
            </div>
            
            <hr>
            <div class="row" id="gongye">
                <div class="col-md-8">
                    <h1>工业滤袋除尘</h1>

                    <p>
                        袋式除尘器作为一种高效除尘器，广泛用于各种工业废气除尘中，
                        如轻工、机械制造、建材、化工、有色冶炼及钢铁企业等。它比电除尘器的结构简单，投资省，运行稳定，还可以回收因难于回收
                        的粉尘；因此，对于细而干燥的粉尘，采用一般袋式除尘器净化是适宜的，但其颗粒物净化精度只有50毫克/立方米。
                        一般的袋式除尘器不适用于净化含有油雾、凝结水及黏结性粉尘的气体，一般也不耐高温。

                    </p>

                    <div class="row" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003161159.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003162821.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                        <img src="{{site.imgurl}}/assets/images/product/20241003162740.jpg"
                            class="img-thumbnail col-md-4" style="padding:10px">
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>工业滤袋式除尘</h4>{% include wellcome.html%}
                </div>
            </div>

            <hr />
            <div class="row" id="ulpa">
                <div class="col-md-8">
                    <h1>膜净窗式新风</h1>
                    <p>4M-PTFE膜是真正一次性过滤PM2.5和PM10达到99.7%的产品
                        无需像室内净化器一样反复过滤室内不洁净空气。
                        4M-PTFE膜的使用效果不受环境任何影响。
                        一般HEPA滤芯在环境湿度较高时失效，使用时间超过3个性能显著下降。
                        遭遇室外污染，居室和办公室的人群最需要的是洁净的室外空气给居室或办公室通风。
                        室外严重污染时，不能开窗通风，尽管可以开启室内空气净化器，但是室内的二氧化碳浓度会逐步升高。当二氧化碳超过一定量时会影响人的呼吸，原因是血液中的碳酸浓度增大，酸性增强，并产生酸中毒。空气中二氧化碳的体积分数为1%时，感到气闷，头昏，心悸；4%-5%时感到眩晕。因为二氧化碳比空气重，集中在低处，所以二氧化碳浓度高对室内儿童的危害更大。

                    </p>
                    <img src="{{site.imgurl}}/assets/images/product/20241001181329.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4">
                    <h4>膜净窗式新风</h4>{% include wellcome.html%}
                </div>
            </div>

        </div>
    </div>

    {% include footer.html %}

    <!-- /container -->
    <include file="public@scripts" />
    <script src="{{site.baseurl}}/assets/js/slippry.min.js"></script>
    <script>
        $(function () {
            $("#home-slider").slippry({
                transition: 'fade',
                useCSS: true,
                captions: false,
                speed: 1000,
                pause: 3000,
                auto: true,
                preload: 'visible'
            });
            $("#home-slider").show();
        });


    </script>
    <hook name="before_body_end" />
</body>

</html>